
#cabeceraweb{
    background-color: blueviolet;
}

#navegacionprincipal {
    background-color: burlywood;
}

#barralateral{
    background-color: cyan;
}

#contenidoprincipal {
    background-color: darkolivegreen;
}

#pieprincipal {
    background-color: darkorange;
}