
#cabeceraweb{
    background-color: blueviolet;
}

#navegacionprincipal {
    background-color: burlywood;
}

#barralateral{
    background-color: cyan;
    float: left;
    height: 1539px;
}

#contenidoprincipal {
    background-color: darkolivegreen;
    margin-left: 210px;
}

#pieprincipal {
    background-color: darkorange;
    clear: both;
    margin-top: 20px;
    padding-top: 15px;
    padding-left: 15px;
}

li {
    background-color: greenyellow;
    display: inline;
}

